<section class="search__container">
    <input class="search__input" type="text" placeholder="search..." alt="search" (keyup)="debounce.next($event.target)"
        [value]="" />
</section>
<!--Pokemon Grid -->
<div class="pokemon-grid">
    <mat-grid-list (click)="openPokemonDetails(i)" class="box" [cols]="breakpoint" rowHeight="2:0.5"
        *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 12, currentPage: page, totalItems: totalPokemons }; let i = index;">

        <img [src]="pokemon['sprites'].front_default" alt="Pokemon">
        <img src="./assets/img/pokeball_black.png" alt="">
        <div class="pokemon-container">
            <mat-grid-tile>
                <h3>{{ pokemon.name | uppercase }}</h3>
            </mat-grid-tile>
            <p>Nr.{{pokemon.id}}</p>
        </div>
    </mat-grid-list>
</div>
<!-- End of Pokemon Grid-->

<pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>