<mat-drawer-container class="example-container" autosize>
  <mat-drawer #sidenav class="app-sidenav mat-elevation-z5" mode="side">
    <div class="logo-container">
      Platz für Logo
    </div>


    <ul class="menu-items">
      <li routerLink='/'>
        <mat-icon>catching_pokemon</mat-icon> Pokemon List
      </li>
      <li routerLink='/about'>About</li>
    </ul>

  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="accent">

      <mat-toolbar-row class="mat-elevation-z5">
        <span> Pokedex</span>
        <button mat-button color="primary">
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
      </mat-toolbar-row>

    </mat-toolbar>

  </div>
  <div class="app-content">
    <router-outlet>
          <app-pokemon-list></app-pokemon-list>
      </router-outlet>
  </div>
</mat-drawer-container>